.particle {
  //   height: 100%;
  //   width: 100%;
  //   position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  //   padding: 1vw;
  cursor: pointer;
  background: rgba(150, 50, 255, 1);

  border-radius: 100%;
}

.animation-blurring {
  animation: animation-blurring 4s linear infinite;
}

@keyframes animation-blurring {
  0% {
    color: rgba(255, 255, 0, 0.8);
  }

  46% {
    color: rgba(255, 255, 0, 0.2);
  }

  51% {
    color: rgba(255, 255, 0, 0.8);
  }
}
