<button (click)="borders()" type="button">Borders</button>
<div class="board" [ngStyle]="getBoardStyles()">
  <ng-container *ngIf="board2">
    <ng-container *ngFor="let column of board2; index as x">
      <app-field
        *ngFor="let row of column; index as y"
        [CSSsize]="fieldSize"
        [pos]="{ x: x, y: y }"
        [displayPos]="FIELD_DISPLAY_INFO"
        [displayDetails]="FIELD_DISPLAY_INFO"
        (toggleFieldBlockade)="handleToggleFieldBlockade($event)"
        (setFieldOccupyingUnit)="handleSetFieldOccupyingUnit($event)"
        (setFieldUnblocked)="handleSetFieldUnblocked($event)"
      >
      </app-field>
    </ng-container>
  </ng-container>
</div>
