<app-board-container
  [boardDimensions]="boardDimensions"
  [fieldSize]="fieldSize"
  [fields]="fields$ | async"
>
</app-board-container>

<div class="game-panel">
  <!-- <p class="board__button" (click)="checkBoard()">
    Check Empty Fields and Brood Spaces
  </p> -->
  <div class="available">
    <p>Empty Fields: {{ (boardService.getEmptyFields() | async).length }}</p>
    <p>Brood Spaces: {{ (broodService.getAllBroodSpaces() | async).length }}</p>
    <p>Brood so far: {{ (broodService.getBroodsOnBoard() | async)?.length }}</p>
  </div>

  <p class="board__button" (click)="handleClick('reloadBoard')">Reload</p>

  <p class="board__button" (click)="handleClick('toggleBorders')">
    Toggle obsticle borders
  </p>
  <p class="board__button" (click)="handleClick('scenario1')">
    Borders & particles & additional obsticles
  </p>
  <p class="board__button" (click)="handleClick('addNewBroodBSRRootRandomly')">
    Add new Brood randomly
  </p>
</div>
