<div>
  <app-board-container
    [boardDimensions]="boardDimensions"
    [fieldSize]="fieldSize"
    [fields]="fields$ | async"
  >
  </app-board-container>

  <ng-content></ng-content>
  <button (click)="showPanel()" class="global-button">Pokaż panel</button>

  <div *ngIf="panelShowing" class="game-panel">
    <div class="available">
      <p>Empty Fields: {{ emptyFields.length }}</p>
      <p>
        VALID BROOD ROOTS:
        {{ validBroodSpaces.length }}
      </p>
      <p>Brood so far: {{ broodsList.length }}</p>
      <p>All particles: {{ particlesList.length }}</p>
    </div>

    <p class="board__button" (click)="handleClick('reloadBoard')">Reload</p>

    <p class="board__button" (click)="handleClick('toggleBorders')">
      Toggle obsticle borders
    </p>
    <p class="board__button" (click)="handleClick('scenario1')">
      Borders & particles & additional obsticles
    </p>
    <p
      class="board__button"
      (click)="handleClick('addNewBroodValidRootRandomly')"
    >
      Add new Brood randomly
    </p>
  </div>
</div>
