<app-panel>
  <div class="info-list">
    <button (click)="simulationService.start()" class="global-button key">
      <p class="val">Restart Simulation</p>
    </button>

    <button (click)="simulationService.stop()" class="global-button key">
      <p class="val">End simulation</p>
    </button>

    <input type="checkbox" (change)="simulationService.changePause($event.target.checked)" [value]="false" />
    Paused: {{ simulationService.paused }}

    <button (click)="simulationService.nextTurn()" class="global-button key">
      <p class="val">next turn manually</p>
    </button>
  </div>
</app-panel>
