@import "/src/assets/styles/reusables/panel";
.global-button {
  // // position: absolute;
  // z-index: 3;
  font-size: 1rem;
  background: blue;
  color: white;
  text-transform: uppercase;
}

.game-panel {
  @include game-panel;
  top: 500px;
}

.info-list {
  width: 100%;
  .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .key {
      font-size: 1rem;
    }

    .val {
    }
  }
}
