.field-container {
  background: rgb(130, 120, 110);
  border: 1px solid rgb(110, 100, 90);

  padding: 0.15em;
  margin: 0;

  &:hover {
    filter: brightness(125%);
  }

  &:active {
    filter: brightness(150%);
  }

  &:focus {
    filter: brightness((200%));
  }
}

.field {
  height: 100%;
  width: 100%;
  display: flex;
  font-family: "Roboto Light";
  color: white;
  text-shadow: 0.11em 0.11em 0.1em black;
  font-size: 0.65em;

  &--is-occupied {
    background: rgba(150, 50, 255, 1);

    border-radius: 100%;
  }

  &--is-blocked {
    background: rgba(255, 65, 65, 1);
  }

  &__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
    padding: 0.15em;
  }
}

.pos {
  &__X {
    justify-self: left;
    text-align: left;
  }

  &__Y {
    justify-self: right;
    text-align: right;
  }
}
