<div
  class="field-container"
  [style.width.px]="fieldSize"
  [style.height.px]="fieldSize"
  (click)="toggleSelf()"
>
  <div class="field" *ngIf="selfDetails$ | async as data; else loading">
    <div class="field__content">
      <app-particle
        *ngIf="data?.occupyingUnit && pos"
        [fieldPos]="pos"
      ></app-particle>
      <app-obsticle *ngIf="data?.blocked === true && !data?.occupyingUnit">
      </app-obsticle>

      <ng-container *ngIf="displayDetails">
        {{ data?.blocked }}
      </ng-container>
    </div>
  </div>

  <ng-template #loading>...</ng-template>
</div>
