<div
  class="field-container accessible-border"
  [style.width.px]="fieldSize"
  [style.height.px]="fieldSize"
  (mouseup)="toggleSelf()"
  (contextmenu)="addBroodOnContextmenu($event)"
>
  <div
    class="field"
    *ngIf="selfDetails$ | async as data; else loading"
    [class.accessible-border]="highlightAccess"
  >
    <div class="field__content" *ngIf="data?.fieldDetails?.blocked">
      <ng-container
        *ngIf="
          data?.fieldDetails?.occupyingUnit;
          then particleUnit;
          else obsticleUnit
        "
      >
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>...</ng-template>

<ng-template #particleUnit let-item>
  <div [style.width.px]="CSSsize" [style.height.px]="CSSsize">
    <div class="particle {{ 'particle--' + item.color }}">
      <div *ngIf="true" class="field__pos">
        {{ pos.row }} x {{ pos.column }}
      </div>
    </div>
  </div>
</ng-template>

<ng-template #obsticleUnit let-item>
  <div class="obsticle" [style.width.px]="CSSsize" [style.height.px]="CSSsize">
    <div *ngIf="true" class="field__pos">{{ pos.row }} x {{ pos.column }}</div>
  </div>
</ng-template>
