<button class="panel-switch" (click)="togglePanel()">Toggle panel</button>

<div class="main" *ngIf="(ui$ | async).panelShowing">
  <div class="panel" [formGroup]="boardSettingsForm">
    <div class="panel__options">
      <button class="details-button" (click)="toggleAllDetails(true)">Show all</button>
      <button class="details-button" (click)="toggleAllDetails(false)">Hide all</button>
    </div>
    <details #details [open]="true">
      <summary id="main" (click)="scrollTo('main', $event)">Main Controls</summary>
      <div class="control-group --main">
        <app-button-neuromorphic label="reload board" (clicked)="reloadBoard()"></app-button-neuromorphic>
        <app-button-neuromorphic label="toggle borders" (clicked)="toggleBorders()"></app-button-neuromorphic>
        <app-button-neuromorphic label="add random group" (clicked)="addNewGroupValidRootRandomly()"></app-button-neuromorphic>
        <app-button-neuromorphic label="setup: scenario1" (clicked)="scenario1()"></app-button-neuromorphic>
        <!-- <app-button (clicked)="toggleBuilderMode()" label="Toggle: Build obsticle on Click"></app-button> -->
        <!-- <button (click)="togglePanel()" class="global-button">Pokaż panel</button> -->
      </div>
    </details>

    <details #details>
      <summary id="boardUI" (click)="scrollTo('boardUI', $event)">Board & UI</summary>
      <div class="details-content">
        <section class="panel__control">
          <label class="control-label">Field size (reloads board)</label>
          <input
            type="range"
            list="tickmarks"
            formControlName="fieldSize"
            [min]="fieldSizeOptions[0]"
            [max]="fieldSizeOptions[fieldSizeOptions.length - 1]"
            step="1" />

          ({{ boardSettingsForm.get("fieldSize")?.value }} -> {{ fieldSizeComputed }}px)

          <datalist id="tickmarks">
            <option *ngFor="let size of fieldSizeOptions" [label]="size" [value]="size"></option>
          </datalist>
        </section>

        <section class="panel__control">
          <label class="control-label">Board dimensions (reloads board)</label>
          <input
            class="control"
            type="number"
            [min]="boardDimensionsRange.min"
            [max]="boardDimensionsRange.max"
            formControlName="boardDimensions"
            [attr.invalid]="boardSettingsForm.get('boardDimensions')?.hasError" />
          [{{ boardDimensionsRange.min }} - {{ boardDimensionsRange.max }}] ({{ boardSettingsForm.get("boardDimensions")?.value }})
        </section>

        <section class="panel__control">
          <app-toggle label="Toggle background artwork (fixed)" [value]="true" (toggled)="toggleDecor('fixed')"></app-toggle>
          <app-toggle label="Toggle background artwork (animated)" [value]="true" (toggled)="toggleDecor('animated')"></app-toggle>
        </section>
      </div>
    </details>

    <details #details>
      <summary id="analytics" (click)="scrollTo('analytics', $event)">Analytics</summary>
      <section class="panel__control">
        <ng-container *ngTemplateOutlet="infoDisplay; context: { $implicit: { label: 'Turn', value: turnCounter + 1 } }"></ng-container>
        <ng-container *ngTemplateOutlet="infoDisplay; context: { $implicit: { label: 'Empty fields', value: emptyFields.length } }"></ng-container>
        <ng-container
          *ngTemplateOutlet="infoDisplay; context: { $implicit: { label: 'Valid group roots', value: validGroupSpaces.length } }"></ng-container>
        <ng-container *ngTemplateOutlet="infoDisplay; context: { $implicit: { label: 'All groups', value: groupsList.length } }"></ng-container>
        <ng-container *ngTemplateOutlet="infoDisplay; context: { $implicit: { label: 'All units', value: unitsList.length } }"></ng-container>
      </section>
    </details>

    <details #details>
      <summary id="simulation" (click)="scrollTo('simulation', $event)">SIMULATION</summary>
      <div class="details-desc">
        <p>
          <span class="notice">Notice:</span>
          Simulation can be launched when board dimensions are at least NxN.
        </p>
        <br />

        <p>
          <span class="caution">Caution:</span>
          Running a simulation with active background animations along with large board dimensions (around 14x14 and more) will cause glitching. Also
          consider changing turn speed.
        </p>
      </div>

      <br />
      <section class="panel__control">
        <label class="control-label">Simulation turn duration (reloads board)</label>
        <input type="range" list="tickmarks1" formControlName="turnSpeed" [min]="300" [max]="900" step="300" />

        ({{ turnSpeed$ | async }}ms)

        <datalist id="tickmarks1">
          <option *ngFor="let item of TurnSpeedMs | keyvalue" [label]="item.label" [value]="item.value"></option>
        </datalist>
      </section>

      <div class="control-group --simulation">
        <app-button-neuromorphic label="start (new)" (clicked)="simulationService.start()">
          <!-- [disabled]="boardSettingsForm.get('boardDimensions')?.value < 9" -->
        </app-button-neuromorphic>
        <app-button-neuromorphic label="end" (clicked)="simulationService.stop()" [disabled]="!simulationService.running"></app-button-neuromorphic>
        <div class="control-toggle">
          <app-toggle
            label="Pause"
            [value]="simulationService.paused"
            (toggled)="simulationService.changePause($event)"
            [disabled]="!simulationService.running"></app-toggle>
        </div>
        <app-button-neuromorphic
          label="do manual turn"
          (clicked)="simulationService.nextTurn()"
          [disabled]="!simulationService.running"></app-button-neuromorphic>
      </div>
    </details>
  </div>
</div>

<div>
  <app-board [boardDimensions]="boardDimensions" [fieldSizeComputed]="fieldSizeComputed" [fields]="fields$ | async"></app-board>
</div>

<ng-template #infoDisplay let-item>
  <div class="display">
    <label>{{ item.label }}:</label>
    <p class="display__val">{{ item.value }}</p>
  </div>
</ng-template>
