<div [style.backgroundColor]="'white'" [style.color]="'black'" class="settings">
  <div class="panel-wrapper">
    <div class="panel__control">
      Field size
      <input
        type="range"
        list="tickmarks"
        [ngModel]="fieldSize"
        (ngModelChange)="changeFieldSize($event)"
        [min]="fieldSizeOptions[0]"
        [max]="fieldSizeOptions[fieldSizeOptions.length - 1]"
        step="1" />
      <datalist id="tickmarks">
        <ng-container *ngFor="let size of fieldSizeOptions">
          <option [label]="size" [value]="size"></option>
          {{ size }}
        </ng-container>
      </datalist>

      <!-- <ng-container *ngFor="let size of fieldSizeOptions">
      {{ size }}
      <input
        type="radio"
        [id]="size"
        [value]="size"
        [name]="size"
        [ngModel]="fieldSize"
        [checked]="size === fieldSize"
        (ngModelChange)="changeFieldSize($event)" />
    </ng-container> -->
    </div>
    <div class="panel__control">
      Board dimensions
      <input type="number" [min]="1" [max]="20" [ngModel]="boardDimensions" (ngModelChange)="boardDimensionsChange($event)" />
    </div>

    <!-- <button (click)="toggleDecor()" class="global-button key">
      <p class="val">Toggle background artwork</p>
    </button> -->

    <div class="panel__control">
      <app-toggle label="Toggle background artwork" [value]="true" (toggled)="toggleDecor($event)"></app-toggle>
    </div>
  </div>
</div>
<div>
  <app-board [boardDimensions]="boardDimensions" [fieldSizeComputed]="fieldSizeComputed" [fields]="fields$ | async"></app-board>

  <ng-content></ng-content>
  <button (click)="togglePanel()" class="global-button">Pokaż panel</button>

  <div *ngIf="panelShowing" class="game-panel">
    <app-button (clicked)="reloadBoard()" label="Reload"></app-button>
    <app-button (clicked)="toggleBorders()" label="Toggle obsticle borders"></app-button>
    <app-button (clicked)="scenario1()" label="Borders & units & additional obsticles"></app-button>
    <app-button (clicked)="addNewBroodValidRootRandomly()" label="Add new Brood randomly"></app-button>
    <app-button (clicked)="toggleBuilderMode()" label="Toggle: Build obsticle on Click"></app-button>

    <!-- <p class="board__button" (click)="handleClick('toggleBorders')">Toggle obsticle borders</p>
    <p class="board__button" (click)="handleClick('scenario1')">Borders & units & additional obsticles</p>
    <p class="board__button" (click)="handleClick('addNewBroodValidRootRandomly')">Add new Brood randomly</p>
    <p class="board__button" (click)="handleClick('toggleBuilderMode')">Toggle: Build obsticle on Click</p> -->
  </div>

  <!-- <div [style.backgroundColor]="'white'" [style.color]="'black'">
    <ng-container *ngFor="let size of fieldSizeOptions">
      {{ size }}
      <input
        type="radio"
        [id]="size"
        [value]="size"
        [name]="size"
        [ngModel]="fieldSize"
        [checked]="size === fieldSize"
        (ngModelChange)="changeFieldSize($event)" />
    </ng-container>
  </div> -->
</div>
