<button class="panel-switch" (click)="togglePanel()">Toggle panel</button>

<div class="main" *ngIf="(ui$ | async).panelShowing">
  <div class="panel" [formGroup]="boardSettingsForm">
    <div class="panel__options">
      <button class="details-button" (click)="toggleAllDetails()">{{ !allDetailsOpen ? "Show" : "Hide" }} all details</button>
    </div>
    <details #details [open]="true" id="main" (click)="scrollTo('main', $event.target)">
      <summary>Main Controls</summary>
      <div class="control-group">
        <button class="control-button" (click)="reloadBoard()" type="button">reload board</button>
        <button class="control-button" (click)="toggleBorders()" type="button">toggle borders</button>
        <button class="control-button" (click)="addNewGroupValidRootRandomly()" type="button">add random group</button>
        <button class="control-button" (click)="scenario1()" type="button">Setup: scenario1</button>
        <!-- <app-button (clicked)="toggleBuilderMode()" label="Toggle: Build obsticle on Click"></app-button> -->
        <!-- <button (click)="togglePanel()" class="global-button">Pokaż panel</button> -->
      </div>
    </details>

    <details #details id="boardUI" (click)="scrollTo('boardUI', $event.target)">
      <summary>Board & UI</summary>
      <section class="panel__control">
        <label class="control-label">Field size (reloads board)</label>
        <input
          type="range"
          list="tickmarks"
          formControlName="fieldSize"
          [min]="fieldSizeOptions[0]"
          [max]="fieldSizeOptions[fieldSizeOptions.length - 1]"
          step="1" />

        ({{ boardSettingsForm.get("fieldSize")?.value }} -> {{ fieldSizeComputed }}px)

        <datalist id="tickmarks">
          <option *ngFor="let size of fieldSizeOptions" [label]="size" [value]="size"></option>
        </datalist>
      </section>

      <section class="panel__control">
        <label class="control-label">Board dimensions (reloads board)</label>
        <input
          class="control"
          type="number"
          [min]="boardDimensionsRange.min"
          [max]="boardDimensionsRange.max"
          formControlName="boardDimensions"
          [attr.invalid]="boardSettingsForm.get('boardDimensions')?.hasError" />
        [{{ boardDimensionsRange.min }} - {{ boardDimensionsRange.max }}] ({{ boardSettingsForm.get("boardDimensions")?.value }})
      </section>

      <section class="panel__control">
        <app-toggle label="Toggle background artwork (fixed)" [value]="true" (toggled)="toggleDecor('fixed')"></app-toggle>
        <app-toggle label="Toggle background artwork (animated)" [value]="true" (toggled)="toggleDecor('animated')"></app-toggle>
      </section>
    </details>

    <details #details id="analytics" (click)="scrollTo('analytics', $event.target)">
      <summary>Analytics</summary>
      <section class="panel__control">
        <div class="display">
          <label>Turn:</label>
          <p class="display__val">{{ turnCounter + 1 }}</p>
        </div>
        <div class="display">
          <label>Empty fields:</label>
          <p class="display__val">{{ emptyFields.length }}</p>
        </div>
        <div class="display">
          <label>Valid group roots:</label>
          <p class="display__val">{{ validGroupSpaces.length }}</p>
        </div>
        <div class="display">
          <label>All groups:</label>
          <p class="display__val">{{ groupsList.length }}</p>
        </div>
        <div class="display">
          <label>All units:</label>
          <p class="display__val">{{ unitsList.length }}</p>
        </div>
      </section>
    </details>

    <details #details id="simulation" (click)="scrollTo('simulation', $event.target)">
      <summary>SIMULATION</summary>
      <p class="details-desc">
        <span>Caution:</span>
        Running a simulation with active background animations along with large board dimensions (above 10x10) will cause glitching. Also consider
        changing (todo) turn speed which is
        <span class="bold">300ms</span>
        by default.
      </p>
      <div class="control-group">
        <button class="control-button" (click)="simulationService.start()" type="button">start (new)</button>
        <button class="control-button" (click)="simulationService.stop()" type="button" [disabled]="!simulationService.running">end</button>

        <div class="control-toggle">
          <app-toggle
            label="Pause"
            [value]="false"
            (toggled)="simulationService.changePause($event)"
            [disabled]="!simulationService.running"></app-toggle>
        </div>

        <button
          class="control-button"
          (click)="simulationService.nextTurn()"
          type="button"
          [disabled]="!simulationService.running || simulationService.paused">
          do manual turn
        </button>
      </div>

      <section class="panel__control">
        <label class="control-label">Simulation Turn Speed (reloads board)</label>
        <input type="range" list="tickmarks1" formControlName="turnSpeed" [min]="300" [max]="900" step="300" />

        ({{ turnSpeed$ | async }})

        <datalist id="tickmarks1">
          <option *ngFor="let item of TurnSpeedMs | keyvalue" [label]="item.label" [value]="item.value"></option>
        </datalist>
      </section>

      <!-- <ng-container *ngTemplateOutlet="anchor; context: { id: 'simulation' }"></ng-container> -->
    </details>
  </div>
</div>

<div>
  <app-board [boardDimensions]="boardDimensions" [fieldSizeComputed]="fieldSizeComputed" [fields]="fields$ | async"></app-board>
</div>

<ng-template #anchor let-ctx>
  <!-- <span [id]="ctx.id"></span> -->
  <pre>{{ ctx | json }}</pre>
</ng-template>
