$dot-size: 12px;
$switch-width-half: 20px;
$switch-height: 20px;
$transition-speed: 0.33s;

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: $transition-speed;
  border-radius: 100rem;

  &:before {
    position: absolute;
    content: "";
    height: $dot-size;
    width: $dot-size;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: $transition-speed;
    border-radius: 100rem;
  }
}

input:disabled + .slider:before {
  background-color: lightgray;
}

.wrapper {
  display: flex;
  position: relative;
  margin: 10px 0;

  // align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

p {
  margin: 0.3rem 0;
  // padding-right: 1rem;
  position: relative;
}

.switch {
  position: relative;
  display: inline-block;
  width: $switch-width-half * 2;
  height: $switch-height;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  left: 0;

  &:checked + .slider {
    background-color: #2196f3;
  }

  &:checked + .slider:before {
    transform: translateX($switch-width-half);
    left: 3px;
  }
}
