@mixin game-panel {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 1vw;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

  font: 500 1.2rem Roboto;
  text-transform: uppercase;
  text-align: center;

  padding: 1em;
  min-width: 300px;
  width: 22%;

  border-radius: 0.25em;
  border: 0.02vw solid rgba(50, 50, 50, 0.9);

  background: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 0 6rem 0.125rem rgba(40, 40, 245, 0.2);
  box-shadow: inset 0 0 6rem 0.125rem rgba(40, 40, 255, 0.2);
}
