.bigstar {
  border-radius: 50%;
  height: 30vh;
  width: 30vh;
  position: absolute;
  z-index: 5;
  bottom: 0vw;
  left: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 16%,
    rgba(236, 255, 254, 1) 30%,
    rgba(216, 255, 252, 1) 41%,
    rgba(186, 255, 249, 1) 52%,
    rgba(0, 0, 0, 0) 57%
  );
}

.bigstar1 {
  height: 8vh;
  width: 8vh;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  top: 2vh;
  right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(255, 242, 240);
  background: radial-gradient(
    circle,
    rgba(255, 242, 240, 1) 0%,
    rgba(255, 155, 133, 1) 10%,
    rgba(255, 108, 90, 1) 18%,
    rgba(255, 94, 61, 1) 24%,
    rgba(235, 76, 44, 1) 31%,
    rgba(205, 60, 41, 1) 33%,
    rgba(255, 53, 31, 1) 34%,
    rgba(0, 0, 0, 1) 37%,
    rgba(5, 1, 1, 1) 43%,
    rgba(0, 0, 0, 1) 46%,
    rgba(47, 9, 9, 1) 50%,
    rgba(10, 2, 2, 0.1) 55%,
    rgba(0, 0, 17, 0) 74%,
    rgba(0, 0, 17, 0) 100%
  );
  opacity: 0.3;
  filter: brightness(100%);
}

.blackhole {
  z-index: 1;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 14%,
    rgba(36, 36, 36, 1) 17%,
    rgba(132, 127, 125, 1) 21%,
    rgba(170, 170, 170, 1) 25%,
    rgba(56, 60, 56, 1) 29%,
    rgba(10, 6, 16, 1) 35%,
    rgba(5, 5, 5, 1) 43%,
    rgba(61, 61, 61, 1) 50%,
    rgba(0, 0, 0, 0.3) 63%,
    rgba(0, 0, 0, 0.1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 16vh;
  width: 16vh;
  position: absolute;
  top: 50vh;
  right: 15vw;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
