<div class="main-container" (contextmenu)="$event.preventDefault()">
  <app-board>
    <button
      [disabled]="turnButtonBlocked"
      (click)="nextTurn()"
      class="global-button"
    >
      next turn
    </button>

    <button
      [disabled]="turnButtonBlocked"
      (click)="startAuto()"
      class="global-button"
    >
      start auto
    </button>
    <button
      [disabled]="turnButtonBlocked"
      (click)="stopAuto()"
      class="global-button"
    >
      stop auto
    </button>
    <button
      [disabled]="turnButtonBlocked"
      (click)="toggleDecor()"
      class="global-button"
    >
      Pokaż grafikę
    </button>
  </app-board>

  <ng-container *ngIf="decorShowing">
    <div class="blackhole"></div>
    <div class="bigstar"></div>
    <div class="bigstar1"></div>
  </ng-container>

  <div *ngIf="panelShowing" class="game-panel">
    <div class="info-list">
      <div class="info">
        <p class="key">Turn:</p>
        <p class="val">{{ turnCounter + 1 }}</p>
      </div>
      <div class="info">
        <p class="key">Empty Fields:</p>
        <p class="val">{{ emptyFields.length }}</p>
      </div>
      <div class="info">
        <p class="key">VALID BROOD ROOTS:</p>
        <p class="val">{{ validBroodSpaces.length }}</p>
      </div>
      <div class="info">
        <p class="key">All Broods:</p>
        <p class="val">{{ broodsList.length }}</p>
      </div>
      <div class="info">
        <p class="key">All particles:</p>
        <p class="val">{{ particlesList.length }}</p>
      </div>
    </div>
  </div>
</div>
