.global-button {
  // // position: absolute;
  // z-index: 3;
  font-size: 1rem;
  background: blue;
  color: white;
  text-transform: uppercase;
}
@import "./shared/styles/mixins.scss";

.game-panel {
  @include game-panel;
  top: 500px;
}

.info-list {
  width: 100%;
  .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .key {
      font-size: 1rem;
    }

    .val {
    }
  }
}

.main-container {
  // position: relative;
  // top: 0;
  // left: 0;
  width: 100vw;
  min-width: 100vw;
  width: auto;
  height: auto;
  height: 100vh;
  // background: #121214;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  // background: #000;
  // -webkit-box-shadow: inset 0 0 6rem 0.125rem rgba(40, 40, 245, 0.25);
  // box-shadow: inset 0 0 6rem 0.125rem rgba(40, 40, 255, 0.25);
}
.bigstar1 {
  height: 30vh;
  width: 30vh;
  position: absolute;
  z-index: 0;

  border-radius: 50%;

  top: 10vh;
  left: 33vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 4%,
    rgba(255, 213, 213, 1) 6%,
    rgba(255, 218, 213, 1) 9%,
    rgba(223, 82, 50, 1) 14%,
    rgba(255, 96, 62, 1) 19%,
    rgba(215, 85, 57, 1) 19%,
    rgba(214, 81, 53, 1) 19%,
    rgba(227, 97, 70, 1) 20%,
    rgba(241, 89, 58, 1) 20%,
    rgba(223, 85, 56, 1) 21%,
    rgba(236, 92, 62, 1) 22%,
    rgba(232, 90, 15, 1) 23%,
    rgba(232, 113, 90, 1) 26%,
    rgba(232, 102, 53, 1) 28%,
    rgba(232, 105, 64, 1) 30%,
    rgba(255, 78, 24, 1) 33%,
    rgba(0, 0, 0, 0.1) 45%,
    rgba(0, 0, 0, 0) 100%
  );
}

.bigstar {
  border-radius: 50%;
  height: 30vh;
  width: 30vh;
  position: absolute;
  z-index: 0;

  top: 40vh;
  right: 17vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 16%,
    rgba(236, 255, 254, 1) 30%,
    rgba(216, 255, 252, 1) 41%,
    rgba(186, 255, 249, 1) 52%,
    rgba(0, 0, 0, 0) 57%
  );
}

.blackhole {
  border-radius: 50%;

  // padding: 1em;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 14%,
    rgba(36, 36, 36, 1) 17%,
    rgba(132, 127, 125, 1) 21%,
    rgba(170, 170, 170, 1) 25%,
    rgba(56, 60, 56, 1) 29%,
    rgba(6, 11, 36, 1) 35%,
    rgba(5, 5, 5, 1) 43%,
    rgba(61, 61, 61, 1) 50%,
    rgba(0, 0, 0, 0.5) 63%,
    rgba(0, 0, 0, 0.1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 18vh;
  width: 18vh;
  // border-radius: 50%;
  position: absolute;
  // right: 10%;
  // top: 10%;
  bottom: 6vw;
  left: 8vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
