<div class="main-container">
  <ng-container *ngIf="boardDimensions && fieldSize">
    <app-board [boardDimensions]="boardDimensions" [fieldSize]="fieldSize">
    </app-board>
  </ng-container>
  <div class="blackhole"></div>
  <div class="bigstar"></div>
  <div class="bigstar1"></div>
</div>
<div class="game-panel">
  <!-- <form>
    <label>
      <p>Dimensions:</p>
      <input type="number" formControlName="dimensions" />
    </label>
    <label>
      <p>Field size:</p>
      <input type="number" formControlName="fieldSize" />
    </label>
  </form></div> -->
  <!-- <input type="number" [(ngModel)]="boardDimensions" />
  {{ boardDimensions }}
  <input type="number" [(ngModel)]="fieldSize" />
  {{ fieldSize }} -->
</div>
