.fields {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

$blue: rgba(5, 50, 230, 1);
$red: rgba(200, 50, 5, 1);
$green: rgba(20, 160, 5, 1);
$purple: rgba(110, 20, 245, 1);

$brightness-hover: 125%;
$brightness-active: 150%;
$brightness-focus: 200%;

.field-container {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
}

.field {
  border: 0.1vw solid rgba(0, 0, 0, 0.75);

  background: #111;
  border-color: #343434;

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Roboto Light";
  color: white;
  text-shadow: 0.11em 0.11em 0.1em black;
  font-size: 0.65em;

  &__content {
    height: 100%;
    width: 100%;

    position: relative;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &__pos {
    position: relative;
    display: flex;
    height: 30%;
    z-index: 1;
    font-weight: 700;
    text-align: center;
    font-size: 0.55rem;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  }

  cursor: pointer;

  &:hover {
    border-color: rgba(80, 80, 80);
    filter: brightness($brightness-hover);
  }
}

.accessible-border {
  border-color: rgba(250, 250, 150, 0.5);
  border-width: 0.14vw;
  cursor: grabbing;
}

.field .particle {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 100%;
  user-select: none;
  cursor: pointer;

  &:focus {
    filter: brightness(($brightness-focus));
  }

  &--black {
    filter: drop-shadow(0 0 0.75rem $purple);
    background: $red;

    background: rgb(0, 0, 0);

    &:hover {
      filter: drop-shadow(0 0 0.75rem $purple) brightness($brightness-hover);
    }

    &:focus {
      filter: drop-shadow(0 0 0.75rem $red) brightness($brightness-active);
    }
  }

  &--red {
    filter: drop-shadow(0 0 0.75rem $red);
    background: $red;

    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      $red 65%,
      rgba(52, 52, 52, 1) 75%,
      rgba(99, 99, 99, 1) 94%,
      rgba(139, 139, 139, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );

    &:hover {
      filter: drop-shadow(0 0 0.75rem $red) brightness($brightness-hover);
    }
  }
  &--blue {
    filter: drop-shadow(0 0 0.75rem $blue);
    background: $blue;

    background: rgb(0, 0, 0);

    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      $blue 65%,
      rgba(52, 52, 52, 1) 75%,
      rgba(99, 99, 99, 1) 94%,
      rgba(139, 139, 139, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
    &:hover {
      filter: drop-shadow(0 0 0.75rem $blue) brightness($brightness-hover);
    }
  }
  &--green {
    filter: drop-shadow(0 0 0.75rem $green);
    background: $green;

    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      $green 65%,
      rgba(52, 52, 52, 1) 75%,
      rgba(99, 99, 99, 1) 94%,
      rgba(139, 139, 139, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );

    &:hover {
      filter: drop-shadow(0 0 0.75rem $green) brightness($brightness-hover);
    }
  }

  &--mixed {
    &:hover {
      filter: drop-shadow(0 0 0.75rem $red) brightness($brightness-hover);
    }

    background: $blue;

    background: rgb(0, 0, 0);

    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      $blue 65%,
      rgba(52, 52, 52, 1) 75%,
      rgba(99, 99, 99, 1) 94%,
      rgba(139, 139, 139, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

.animation-blurring {
  animation: animation-blurring 4s linear infinite;
}

@keyframes animation-blurring {
  0% {
    color: rgba(255, 255, 0, 0.8);
  }

  46% {
    color: rgba(255, 255, 0, 0.2);
  }

  51% {
    color: rgba(255, 255, 0, 0.8);
  }
}

.box {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 100%;
  user-select: none;
  cursor: pointer;
  // background: rgb(20, 198, 245);
  // background: linear-gradient(
  //   126deg,
  //   rgba(20, 198, 245, 1) 0%,
  //   rgba(67, 220, 0, 1) 64%
  // );
  // border: 0.12rem solid white;

  &__content {
    height: 100%;
    border-radius: 100%;
    background: rgb(28, 27, 28);
    background: radial-gradient(
      circle,
      rgba(28, 27, 28, 1) 33%,
      rgba(189, 75, 75, 1) 58%,
      rgba(176, 70, 70, 1) 68%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  &:focus {
    filter: brightness(($brightness-focus));
  }

  &--black {
    filter: drop-shadow(0 0 0.75rem $purple);
    background: $red;

    background: rgb(0, 0, 0);

    &:hover {
      filter: drop-shadow(0 0 0.75rem $purple) brightness($brightness-hover);
    }

    &:focus {
      filter: drop-shadow(0 0 0.75rem $red) brightness($brightness-active);
    }
  }

  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(0deg);
}

.obsticle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;

  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(100, 125, 125, 1) 19%,
    rgba(0, 0, 0, 1) 37%,
    rgba(125, 100, 160, 1) 65%,
    rgba(139, 139, 139, 1) 100%,
    rgba(0, 0, 0, 0.5) 100%
  );

  -webkit-box-shadow: inset 0 0 0.3rem 0.2rem #222;
  box-shadow: inset 0 0 0.3rem 0.2rem #222;

  &:hover {
    filter: brightness(125%);
  }

  &:active {
    filter: brightness(150%);
  }

  &:focus {
    filter: brightness((200%));
  }
}
