<div #div class="fields" *ngIf="fields && fields?.length > 0" [ngStyle]="CSS.structurings">
  <ng-container *ngFor="let row of fields; let rowPos = index; trackBy: trackByFnRow">
    <div
      #fieldsTemplates
      class="field-container accessible-border"
      [style.width.px]="fieldSize"
      *ngFor="let field of row; let colPos = index; trackBy: trackByFn"
      [style.height.px]="fieldSize"
      (contextmenu)="addBroodOnContextmenu($event)">
      <div
        class="field"
        name="{{ rowPos }}-{{ colPos }}"
        key="{{ rowPos }}-{{ colPos }}"
        [class.accessible-border]="field?.highlightAccessibility">
        <div class="field__content" *ngIf="field">
          <ng-container [ngSwitch]="field.mode">
            <ng-container
              *ngSwitchCase="'unit'"
              [ngTemplateOutlet]="unitUnit"
              [ngTemplateOutletContext]="{
                $implicit: field.pos,
                color: field?.occupyingUnit.color
              }"></ng-container>
            <ng-container
              *ngSwitchCase="'obsticle'"
              [ngTemplateOutlet]="obsticleUnit"
              [ngTemplateOutletContext]="{
                $implicit: field.pos
              }"></ng-container>
            <ng-container
              *ngSwitchCase="'other'"
              [ngTemplateOutlet]="otherUnit"
              [ngTemplateOutletContext]="{
                $implicit: field
              }"></ng-container>
            <ng-container *ngSwitchCase="'empty'"></ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loading>...</ng-template>

<ng-template #unitUnit let-pos let-color="color">
  <div [style.width.px]="CSSsize" [style.height.px]="CSSsize">
    <div class="unit {{ 'unit--' + color }}">
      <div *ngIf="true && pos" class="field__pos">
        <!-- {{ pos.row }} x {{ pos.column }}
        {{ color }} -->
      </div>
    </div>
  </div>
</ng-template>

<ng-template #obsticleUnit let-pos>
  <div class="obsticle" [style.width.px]="CSSsize" [style.height.px]="CSSsize">
    <!-- <div *ngIf="true && pos" class="field__pos">{{ pos.row }} x {{ pos.column }}</div> -->
  </div>
</ng-template>

<ng-template #otherUnit let-item>
  <div class="object" [style.width.px]="CSSsize" [style.height.px]="CSSsize">
    <!-- <div *ngIf="true && item.pos" class="field__pos object__content">{{ item.pos.row }} x {{ item.pos.column }}</div> -->
  </div>
</ng-template>
