// ### Units & obsticles
// # colors
$blue: rgba(5, 50, 230, 1);
$red: rgba(200, 50, 5, 1);
$green: rgba(20, 160, 5, 1);
$purple: rgba(110, 20, 245, 1);

// # effects
$brightness-hover: 125%;
$brightness-active: 150%;
$brightness-focus: 200%;
